*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

#calc{
    padding: 10px;
    text-align: center;
    /* width: 100%; */
}

input{
    border-radius: 10px;
    padding: 20px;
    width: 350px; 
}

 button{
    border-radius: 10px;
    border: none;
    background-color: bisque;
    padding: 20px 20px;
    margin: 10px;
    font-size: 10px;
    width: 70px;
    
}

@media screen and (max-width:395px) {

    button{     
    width: 60px;
    }   
}

@media screen and (max-width:355px) {

    button{     
    width: 50px;
    }   
}

